@mixin flexBlock($just, $align, $dir: row){
    display: flex;
    justify-content: $just;
    align-items: $align;
    flex-direction: $dir;
}

@mixin textTemplate($color, $size, $transform: none, $weight: normal){
    color: $color;
    font-size: $size;
    text-transform: $transform;
    font-weight: $weight;
}

:root{
    --margin-for-objects-on-pc: 300px;
    --padding-between-list-items: 12px 0; 
    --color-for-text: #E3E3E3;
    --size-for-normal-text: 16px
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a:active,
a:hover,
a {
    text-decoration: none;
    color: whitesmoke;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

ul,
li,
ol {
    list-style-type: none;
}

img {
    vertical-align: top;
}

html,
body {
    min-height: 100%;
    line-height: 1;
    font-family: 'Lexend', sans-serif;
    font-size: 12px;
    background-color: #1E1E1E;
    height: 100%;
}

[class*='_container'] {
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 15px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    background: url('../../photos/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-position: center;

    header{
        margin-left: var(--margin-for-objects-on-pc);
        .header_container{
            @include flexBlock(space-between, center);
            
            .formBlock{
                
                flex: 1 1 700px;
                min-width: 300px;
                background: linear-gradient(#303030, rgb(48, 48, 48, .4));
                border-radius: 40px;
                margin: 16px 0;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                .searchBar{
                    @include flexBlock(center, center);
                    padding: 10px 20px;
                    #findFilm{
                        background-color: transparent;
                        outline: none;
                        flex: 1 1 auto;
                        @include textTemplate(var(--color-for-text), var(--size-for-normal-text));
                        
                        &::placeholder{
                            color: var(--color-for-text);
                            text-transform: capitalize;
                        }
                    }
                }
            }
            .logRegBlock{
                margin: 0 20px;
                @include flexBlock(space-around, center);
                flex: 1 1 auto;
                @include textTemplate(var(--color-for-text), var(--size-for-normal-text), capitalize);
                > * {
                    margin: 0 12px;
                }
                .bell{
                    position: relative;
                    margin: 0 16px;
                    &::after{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        content: "";
                        padding: 24px;
                        border: #8685EF solid 2px;
                        border-radius: 100%;
                    
                    }
                }
                :where(.logBut, .regBut){
                    border: #8685EF solid 2px;
                    width: 100px;
                    padding: 16px 0;
                    text-align: center;
                    border-radius: 40px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                    color: var(--color-for-text);
                }
                .regBut{
                    background-color: #8685EF;
                }
            }
        }
    }

    main{
        flex: 1 1 auto;
        margin-left: var(--margin-for-objects-on-pc);
        
        .navbar{
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            @include flexBlock(space-around, flex-start, column);
            padding: 0 16px;
            background: linear-gradient(rgb(19, 19, 19, 1), rgb(0, 0, 0, .3));
            @include textTemplate(var(--color-for-text), 16px, capitalize);
            max-width: var(--margin-for-objects-on-pc);
            width: 100%;
            .logo{
                object-fit: contain;
            }
            .navbarBlock{
                width: 100%;
                @include flexBlock(space-around, flex-start, column);
                .navbarItem{
                    @include flexBlock(center, center);
                    padding: var(--padding-between-list-items);
                    .iconItem{
                        margin-right: 20px;
                    }
                }
            }
            .usefulLinkBlock{
                @include flexBlock(center, flex-start, column);
                .usefulLinkItem{
                    @include flexBlock(center, center);
                    padding: var(--padding-between-list-items);
                    .social{
                        font-weight: bold;
                    }
                    .netsBlock{
                        color: var(--color-for-text);
                        .netIcon{
                            margin-right: 20px;
                        }
                    }

                }
            }
        }

        .main_container{
            @include flexBlock(center, center, column);
            .content{
                @include flexBlock(center, center);
                width: 100%;
                z-index: 1;
                .premierMovie{
                    flex: 2 1 auto;
                    position: relative;
                    height: 200px;
                    padding: 20px;
                    @include flexBlock(space-between, flex-end);
                    z-index: -1;
                    .board{
                        flex: 0 1 auto;
                        z-index: 1;
                        height: 100%;
                        @include flexBlock(center, flex-end);
                        background: linear-gradient(rgb(20, 20, 20, .6), rgb(20, 20, 20, .35));
                        padding: 10px;
                        border-radius: 16px;
                        box-shadow: rgba(198, 198, 198, 0.15) 1.95px 1.95px 2.6px;
                        backdrop-filter: blur(2px);
                        :where(.hours, .minutes, .seconds){
                            margin: 0 4px;
                            @include flexBlock(center, center);
                            .number{
                                @include textTemplate(#181818, 16px);
                                padding: 16px 12px;
                                background-color: #EBEBEB;
                                margin: 2px;
                                border-radius: 12px;
                            }
                        }
                    }
                    .arrows{  
                        z-index: 1;
                        padding: 10px 12px;
                        @include flexBlock(space-between, center);
                        position: relative;
                        border-radius: 8px;
                        background-color: #141414;
                        &::after{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            content: "";
                            height: 70%;
                            width: 2px;
                            background-color: #E3E3E3;
                        }
                        .arrow{
                            padding: 0 16px 0 12px;
                        }
                        .mirror{
                            transform: rotate(180deg);
                        }
                    }
                    .poster{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 14px;
                    }
                }
                .addNews{
                    flex: 2 3 auto;
                }
            }
        }
    }
}